@model IEnumerable<Service>

@{
    ViewBag.Title = "Services";
    Layout = "_Layout";
}

@section styles
{
    <style>
        div .item-text {
           white-space: pre-wrap;
           overflow: hidden;
           padding: 5px;
           text-overflow: ellipsis;
        }
    </style>
}

<section class="with-bg solid-section">
    <div class="theme-back"></div>
    <div class="container page-info">
    </div>
    <div class="section-footer">
        <div class="container" data-inview-showup="showup-translate-down">
            <ul class="page-path">
                <li>
                    <a asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="path-separator">
                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </li><li>Services</li>
            </ul>
        </div>
    </div>
</section>
<section class="content-section" style="padding-bottom: 40px">
<div class="container">
<div class="shuffle-js">
<div class="row cols-md rows-md shuffle-items">
@foreach (var service in Model)
{
    <div class="shuffle-item col-12 md-col-4 sm-col-6" data-groups='["Computer", "Laptop", "Smartphone"]'>
        <div class="item muted-bg" data-inview-showup="showup-scale">
            <a asp-action="Service" asp-route-id="@service.Id"   class="block-link">
                <span class="image-wrap">
                    <img class="image" src="~/images/service/@service.Image" alt="@service.Image">
                </span>
                <span class="hover">
                    <span class="hover-show">
                        <span class="back"></span>
                        <span class="content">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                    </span>
                </span>
            </a>
            <div class="item-content">
                <div class="item-title text-upper">
                    <a asp-action="Service" asp-route-id="@service.Id">@Html.Raw(service.Name)</a>
                </div>
                <div class="item-text">@Html.Raw(service.Description)</div>
                <a asp-action="Service" asp-route-id="@service.Id" class="btn btn-md btns-bordered text-upper pull-right">read more</a>
            </div>
        </div>
    </div>
}
</div>
</div>
</div>
</section>
<a href="#" class="scroll-top disabled">
    <i class="fas fa-angle-up" aria-hidden="true"></i>
</a>
<div class="loader-block">
    <div class="loader-back alt-bg"></div>
    <div class="loader-image">
        <img class="image" src="images/parts/loader.gif" alt="">
    </div>
</div>
