@model ServiceViewModel

@{
    ViewBag.Title = "Service";
    Layout = "_Layout";
}


<section class="with-bg solid-section">
    <div class="theme-back"></div>
    <div class="container page-info">
    </div>
    <div class="section-footer">
        <div class="container" data-inview-showup="showup-translate-down">
            <ul class="page-path">
                <li>
                    <a asp-action="Index" asp-controller="Home">Əsas</a>
                </li>
                <li class="path-separator">
                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Services">Xidmətlər</a>
                </li>
                <li class="path-separator">
                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </li><li>@Html.Raw(Model.Service.Name)</li>
            </ul>
        </div>
    </div>
</section>
<div class="clearfix page-sidebar-right container">
    <div class="page-content">
        <section class="content-section">
            <div class="service">
                <h3 class="text-upper offs-md" data-inview-showup="showup-translate-up">@Html.Raw(Model.Service.Name)</h3>
                <img data-inview-showup="showup-translate-up" class="col-12 offs-md" src="~/images/service/@Model.Service.Image" alt="@Model.Service.Image">
                <div class="content-text clearfix" data-inview-showup="showup-translate-up">
                 @Html.Raw(Model.Service.Description)
                </div>
                <div class="top-separator out-lg" data-inview-showup="showup-translate-up"></div>
                <div class="table offs-lg" data-inview-showup="showup-translate-up">
                </div>
            </div>
        </section>
    </div>
    <aside class="page-sidebar content-section">
        <section class="side-content-section" data-inview-showup="showup-translate-up">
            <h5 class="shift-sm offs-md">Bizim xidmətlər</h5>
            <ul class="spaced-list text-medium solid-color">
                @foreach (var service in Model.Services)
                {
                    <li>
                        <a class="muted-solid-link block-md" asp-action="Service" asp-route-id="@service.Id">@Html.Raw(service.Name)</a>
                    </li>
                }
            </ul>
        </section>
        <div class="line-sides main-bg out-lg" data-inview-showup="showup-translate-up"></div>
    </aside>
</div>


<a href="#" class="scroll-top disabled">
    <i class="fas fa-angle-up" aria-hidden="true"></i>
</a>
<div class="loader-block">
    <div class="loader-back alt-bg"></div>
    <div class="loader-image">
        <img class="image" src="~/images/parts/loader.gif" alt="">
    </div>
</div>
