@model HomeIndexViewModel;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<section>
    <div class="flexslider screen-height">
        <div class="slides">
            @foreach (var slider in Model.Sliders)
            {
                <div class="slide">
                    <img src="~/images/service/@slider.Image" alt="" data-cover-image="true">
                    <div class="theme-back"></div>
                    <div class="pos-center text-center col-12 text-white">
                        @if (slider.Title != null)
                        {
                            <div class="banner-title res-text-xxl">@Html.Raw(slider.Title)</div>
                        }
                        @if (slider.Subtitle != null)
                        {
                            <div class="banner-subtitle res-text-md">@Html.Raw(slider.Subtitle)</div>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="flex-custom-navigation">
            <a href="#" class="flex-prev">
                <i class="fas fa-angle-left" aria-hidden="true"></i>
            </a>
            <a href="#" class="flex-next">
                <i class="fas fa-angle-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>
<div class="clearfix muted-bg">
    <section class="md-stuck-top content-section">
        <div class="container hyped-block">
            <div class="row cols-md rows-md">
                <div class="md-col-12">
                    <div class="row cols-md rows-md">
                       @foreach (var repair in Model.Repairs)
                       {
                           <div class="md-col-3">
                               <div class="price-block simple" data-inview-showup="showup-translate-up">
                                   <div class="price-back"></div>
                                   <div class="price-image">
                                       <img class="image" src="images/icons/@repair.Image" alt="">
                                   </div>
                                   <div class="price-title">@repair.Name</div>
                                   <div class="price-subtext">@repair.Description</div>
                                   <a class="btn-md btns-bordered btn text-upper" href="#">read more</a>
                               </div>
                           </div>
                       }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <div class="section-head text-center container-md">
                <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Why choose us</h2>
                <p data-inview-showup="showup-translate-left">Some Of Our Features</p>
            </div>
            <div class="row cols-md rows-lg text-center">
                <div class="md-col-12">
                    <div class="row cols-md rows-lg">
                        @foreach (var feature in Model.Features)
                        {
                            <div class="md-col-3">
                                <div class="feature feature-side text-left" data-inview-showup="showup-translate-up">
                                    <div class="feature-icon">
                                        <i class="fas fa-rocket" aria-hidden="true"></i>
                                    </div>
                                    <div class="feature-title text-upper">@feature.Name</div>
                                    <div class="feature-text">@feature.Description</div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="muted-bg solid-section">
    <div class="container">
        <div class="section-head text-center container-md">
            <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Services</h2>
            <p data-inview-showup="showup-translate-left">We offer a full range of repair services provided by an experienced and specialized team</p>
        </div>
        <div class="row cols-md rows-md">
            @foreach (var service in Model.Services)
            {
                <div class="md-col-4 sm-col-6">
                    <div class="item" data-inview-showup="showup-translate-up">
                        <a href="service.html" class="block-link text-center">
                            <span class="image-wrap">
                                <img class="image" src="images/service/@service.Image" alt="">
                            </span>
                            <span class="hover">
                                <span class="hover-show">
                                    <span class="back"></span>
                                    <span class="content">
                                        <i class="fas fa-search" aria-hidden="true"></i>
                                    </span>
                                </span>
                            </span>
                        </a>
                        <div class="item-content">
                            <div class="item-title text-upper">
                                <a href="service.html">@Html.Raw(service.Name)</a>
                            </div>
                            <div class="item-text">@Html.Raw(service.Description)</div>
                            <a href="service.html" class="btn btn-md btns-bordered pull-right text-upper">read more</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center shift-xl">
            <a class="btn text-upper" href="services.html" data-inview-showup="showup-translate-up"><i class="fas fa-th-large" aria-hidden="true"></i>&nbsp;&nbsp;view all services</a>
        </div>
    </div>
</section>
<section class="main-bg decorated-bg text-center tight solid-section">
    <div class="container">
        <div class="row cols-md rows-xl" data-inview-showup="showup-translate-up">
            <div class="sm-col-3">
                <div class="counter">
                    <div class="counter-title text-upper">Happy client</div>
                    <div class="counter-value" data-waypoint-counter="3720">3720</div>
                </div>
            </div>
            <div class="sm-col-3">
                <div class="counter">
                    <div class="counter-title text-upper">Finished projects</div>
                    <div class="counter-value" data-waypoint-counter="4170">4170</div>
                </div>
            </div>
            <div class="sm-col-3">
                <div class="counter">
                    <div class="counter-title text-upper">Computer serviced</div>
                    <div class="counter-value" data-waypoint-counter="2730">2730</div>
                </div>
            </div>
            <div class="sm-col-3">
                <div class="counter">
                    <div class="counter-title text-upper">Mobile serviced</div>
                    <div class="counter-value" data-waypoint-counter="1510">1510</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-section">
    <div class="container">
        <div class="section-head text-center container-md">
            <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">What people say</h2>
            <p data-inview-showup="showup-translate-left">Real customers reviews</p>
        </div>
        <div class="owl-carousel" data-inview-showup="showup-translate-up" data-owl-dots="true">
            @foreach (var testimonial in Model.Testimonials)
            {
                <div class="item">
                    <div class="simple-testimonial text-center">
                        <div class="tt-content">
                            <div class="tt-quote">&#8220;</div>
                            @testimonial.Description
                        </div>
                        <div class="tt-icon">
                            <img src="~/images/icons/@testimonial.Image" alt="">
                        </div>
                        <div class="pexx-tt-user-title">@testimonial.Name</div>
                        <div class="pexx-tt-user-subtitle">@testimonial.Position</div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section class="main-bg" data-inview-showup="showup-translate-up">
    <div class="container">
        <div class="contact-table only-xs-text-center">
            <div class="contact-icon xs-hidden">
                <i class="fas fa-bicycle" aria-hidden="true"></i>
            </div>
            <div class="contact-content">
                <div class="contact-title">Request free consultation</div>
                <div class="text-justify only-xs-text-justify-center">Get answers and advice from people you want it from.</div>
            </div>
            <div class="contact-btn">
                <a href="contact-us.html" class="btn btns-white text-upper">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<a href="#" class="scroll-top disabled">
    <i class="fas fa-angle-up" aria-hidden="true"></i>
</a>
<div class="loader-block">
    <div class="loader-back alt-bg"></div>
    <div class="loader-image">
        <img class="image" src="images/parts/loader.gif" alt="">
    </div>
</div>