@model IEnumerable<News>

@{
    ViewBag.Title = "Xəbərlər";
    Layout = "_Layout";
}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Xəbərlər
      </h1>
      <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> Əsas</a></li>
        <li class="active">Xəbərlər</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <partial name="_SuccessMessagePartial"/>
              <partial name="_DangerMessagePartial"/>
              <partial name="_WarningMessagePartial"/>
              <div class="form-group">
                <a asp-controller="News" asp-action="Create" class="btn btn-success">Yeni xəbər əlavə et</a>
              </div>
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Başlıq</th>
                  <th>Alt başlıq</th>
                  <th>Şəkil</th>
                  <th>Hərəkətlər</th>
                  <th style="display: none"></th>
                  <th style="display: none"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var news in Model)
                {
                  <tr>
                    <td>@news.Name</td>
                    <td >@Html.Raw(news.Subtitle)</td>
                    <td>
                      <img src="~/images/outsource/@news.Image" alt="@news.Image" width="100">
                    </td>
                    <td>
                      <a asp-action="Edit" asp-controller="News" asp-route-id="@news.Id" class="fa fa-pencil"></a>
                      <a asp-action="Delete" asp-controller="News" asp-route-id="@news.Id" class="fa fa-remove"></a>
                    </td>
                    <td style="display: none"></td>
                    <td style="display: none"></td>
                  </tr>
                }
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
      <!-- /.box -->

    </section>
<!-- /.content -->