@model IEnumerable<Slider>

@{
    Layout = "_Layout";
    ViewBag.Title = "Slayder";
}


    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Slider
      </h1>
      <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> Əsas</a></li>
        <li class="active">Slayder</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <partial name="_SuccessMessagePartial"/>
              <partial name="_DangerMessagePartial"/>
              <partial name="_WarningMessagePartial"/>
              <div class="form-group">
                <a asp-controller="Slider" asp-action="Create" class="btn btn-success">Yeni slayder əlavə et</a>
              </div>
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Başlıq</th>
                  <th>Altbaşlıq</th>
                  <th>Şəkil</th>
                  <th>Hərəkətlər</th>
                  <th style="display: none"></th>
                  <th style="display: none"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var slider in Model)
                {
                  <tr>
                    <td>@slider.Title</td>
                    <td>@slider.Subtitle</td>
                    <td>
                      <img src="~/images/service/@slider.Image" alt="@slider.Image" width="100">
                    </td>
                    <td>
                      <a asp-action="Edit" asp-controller="Slider" asp-route-id="@slider.Id" class="fa fa-pencil"></a>
                      <a asp-action="Delete" asp-controller="Slider" asp-route-id="@slider.Id" class="fa fa-remove"></a>
                    </td>
                    <td style="display: none"></td>
                    <td style="display: none"></td>
                  </tr>
                }
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
      <!-- /.box -->

    </section>
<!-- /.content -->


