@model ProductViewModel


@foreach (var product in Model.Products)
{
    <div class="md-col-6">
        <div class="item shop-item shop-item-simple" data-inview-showup="showup-scale">
            <div class="item-back"></div>
            <a asp-action="ProductDetails" asp-controller="Products" asp-route-id="@product.Id" class="item-image responsive-1by1">
                <img src="~/images/shop/@product.Image" alt="@product.Image">
            </a>
            <div class="item-content shift-md">
                <div class="item-textes">
                    <div class="item-title text-upper">
                        <a asp-action="ProductDetails" asp-controller="Products" asp-route-id="@product.Id" class="content-link">@product.Name</a>
                    </div>
                    @foreach (var category in Model.CategoryProducts)
                    {
                        if (category.Id == product.CategoryProductId)
                        {
                            @category.Name
                        }
                    }
                </div>
            </div>
            <div class="item-links">
                <a asp-action="ProductDetails" asp-controller="Products" asp-route-id="@product.Id" class="btn text-upper btn-md btns-bordered">view</a>
            </div>
        </div>
    </div>
}