@model ProductAndCategoryViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Products";
}


@section styles{
    <style>
        .pagination {
            display: flex;
            justify-content: center;
            align-items: center
        }

        .page-link {
            padding: 5px 10px;
            display: inline-block;
            border: 2px solid #29abe2;
            margin: 5px;
        }

        .active .page-link {
            background: #29abe2;
            color: #fff;
        }
        .sorting-product {
            display: flex;
            align-items: center;
        }
        .form-search {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #29abe2;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .btn-filter {
            background: #29abe2;
            padding: 10px 20px;
            border: none;
            transition: all 0.3s;
        }
        .btn-filter:hover{
            background: #000;
        }
    </style>
}



<section class="with-bg solid-section">
    <div class="theme-back"></div>
    <div class="container page-info">
    </div>
    <div class="section-footer">
        <div class="container" data-inview-showup="showup-translate-down">
            <ul class="page-path">
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="path-separator">
                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </li>
                <li>Shop</li>
            </ul>
        </div>
    </div>
</section>
<div class="clearfix page-sidebar-right container">
    <div class="page-content">
        <section class="content-section">
            <form>
                <div class="row">
                    <div class="sm-col-6 md-col-4">
                        <div class="field-group shop-line-field chosen-field">
                            <div class="sorting-product">
                                <label>Sırala</label>
                                <a style="margin-left:5px;margin-right:5px;" class="btn btn-sm btn-primary" asp-action="Index"
                                   asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                                   asp-route-company="@(Model.FilterViewModel.SelectedCategory)">Məhsul</a>

                                <a class="btn btn-sm btn-primary" asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.CategorySort)"
                                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                                   asp-route-company="@(Model.FilterViewModel.SelectedCategory)">Kateqoriya</a>
                              
                            </div>
                            
                        </div>
                    </div>
                </div>
            </form>
            <div class="row cols-md rows-md partial">
                <partial model="@Model" name="_GetProductPartial" />
            </div>
            <div class="text-center shift-lg showup-translate-up" data-inview-showup="showup-translate-up">
                <div class="pagination">
                    <page-link page-model="Model.PageViewModel" page-action="Index"
                               page-url-name="@(Model.FilterViewModel.SelectedName)"
                               page-url-company="@(Model.FilterViewModel.SelectedCategory)"
                               page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>
                </div>
            </div>
        </section>
    </div>
    <aside class="page-sidebar content-section">
        <section class="side-content-section" data-inview-showup="showup-translate-up">
            <h5 class="shift-sm offs-md">Məhsul kateqoriyaları</h5>
            <form method="get">
                <input name="name" value="@Model.FilterViewModel.SelectedName" class="form-search" />
                <div class="field-wrap">
                    <select name="category" asp-items="Model.FilterViewModel.Categories" class="field-control"></select>
                    <span class="select-arrow"><i class="fas fa-chevron-down"></i></span>
                    <span class="input-group-state"><span class="positioned"><span class="text"><span class="valid-text"><i class="fas fa-check"></i></span> <span class="error-text"><i class="fas fa-times"></i></span> </span></span></span>
                    <span class="field-back"></span>

                </div>
                <input type="submit" class="btn-filter" style="margin-top:10px;color: #fff;" value="Seç">
            </form>
        </section>
<div class="line-sides main-bg out-lg" data-inview-showup="showup-translate-up"></div>

    </aside>
</div>
<a href="#" class="scroll-top disabled"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<div class="loader-block">
    <div class="loader-back alt-bg"></div>
    <div class="loader-image">
    </div>
</div>

@section scripts
{
    <script>
        $(document).on("change", "#sortBy", function (e) {

            var sortUrl = $(this).val();
            
            $.ajax({
                url: "/Products/GetProduct/?query=" + sortUrl,
                type: "get",
                success: function (r) {
                    document.querySelector(".partial").innerHTML = r;
                }
            });
        });
         
            $(".addToCart").click(function (e) {
                e.preventDefault();
                let id = $(this).data("id");
                $.get("/cart/add/" + id, {}, function (data) {
                    let number = document.querySelector(".item-label-sale")
                    number.textContent = data;
                    $.notify("Məhsul uğurla səbətə əlavə edildi!", "success");
                });
            });
        
        

    </script>
}